body[orient="portrait"] #add-another {
    position:absolute;
    bottom:2px;
    left:75px;
}

#button-prev body[orient="landscape"] {
    /*this needs to be here for the next rule to work. ??? */
}

body[orient="portrait"] #bottom-panel {
    position:absolute;
    bottom:3px;
    left:4px;
    width:291px;
    height:70px;
}

body[orient="portrait"] #conf {
    position:absolute;
    top:30px;
    left:10px;
    width:285px;
    border:0px;
}

body[orient="portrait"] #container {
    position:relative;
    width:295px;
    height:440px;
    border:1px dashed #000;
}

body[orient="portrait"] #main-container {
    position:absolute;
    top:135px;
    left:2px;
    cursor:pointer;
    margin:auto;
    width:290px;
    border:1px solid #000;
    font-size:12px;
    text-align:center;
}

body[orient="portrait"] #msg-container {
    position:absolute;
    top:70px;
    left:20px;
    width:250px;
    border:0px;
}

body[orient="portrait"] #options {
    position:absolute;
    bottom:2px;
    left:60px;
    width:170px;
    height:20px;
    text-align:center;
    padding-bottom:1px;
}

body[orient="portrait"] #phrase-form {
    position:absolute;
    top:5px;
    left:20px;
    width:250px;
    min-height:50px;
}