/*
 Organization:
 - Global classes at top in alphabetical order
 - IDs in alphabetical order with sections indented (4 spaces)
*/

a:link, a:visited {
    text-decoration:none;
    color:#ccc;
}

.button {
    cursor:pointer;
    border:1px solid #000;
    text-align:center;
    background-color:#ddd;
    padding:30px;
    border-radius:4px;
}

.button:active {
    background-color:#A00;
    color:#fff;
}

#add-another {
    position:absolute;
    bottom:58px;
    left:325px;
}

#button-help {
    position:absolute;
    bottom:5px;
    left:5px;
}

#button-next {
    position:absolute;
    top:102px;
    right:198px;
}

#button-prev {
    position:absolute;
    top:102px;
    left:198px;
}

#button-reset {
    position:absolute;
    bottom:5px;
    right:5px;
}

#conf {
    position:absolute;
    top:50px;
    left:200px;
    width:400px;
    border:1px solid #000;
}

#container {
    position:relative;
    width:800px;
    min-height:400px;
    margin:auto;
    border:1px dashed #000;
}

#control {
    position:absolute;
    top:10px;
    right:10px;
    width:211px;
}

#credits {
    position:absolute;
    bottom:-10px;
    left:0px;
    font-size:9px;
    color:#ccc;
}

#crud {
    position:absolute;
    bottom:41px;
    left:291px;
    width:217px;
    min-height:50px;
}

    #crud button {
        float:right;
    }

#help {
    position:absolute;
    cursor:pointer;
    bottom:-108px;
    left:200px;
    border:1px solid #000;
    width:400px;
    min-height:100px;
}

    #help p {
        margin:0px;
    }

#main-container {
    position:absolute;
    top:189px;
    left:200px;
    cursor:pointer;
    margin:auto;
    width:400px;
    border:1px solid #000;
    font-size:30px;
    text-align:center;
    max-height:36px;
    overflow:auto;
}

#main-alt {
    background-color:#eee;
}

#meter {
    position:absolute;
    bottom:132px;
    left:390px;
}

#msg {
    background-color:#eee;
    text-align:center;
    cursor:pointer;
    display:block;
}

#msg-container {
    position:absolute;
    top:20px;
    left:200px;
    width:350px;
    border:1px solid #000;
}

    #msg-container button {
        float:right;
    }

#options {
    position:absolute;
    bottom:2px;
    left:100px;
    width:600px;
    text-align:center;
    padding-bottom:5px;
}
    #options span {
        font-size:10px;
        padding:3px;
        cursor:pointer;
        border:1px solid #000;
    }
    
    #options span.on {
        background-color:#f00;
        color:#fff;
    }
    
    #options span.off {
        background-color:#fff;
        color:#000;        
    }

#point-down {
    float:left;
}

#point-up {
    float:right;
}

#points {
    position:absolute;
    bottom:86px;
    left:200px;
    width:400px;
}

#stats {
    position:absolute;
    top:152px;
    left:387px;
    font-size:14px;
    color:#444;
}

#version {
    position:absolute;
    bottom:-10px;
    right:0px;
    font-size:9px;
    color:#ccc;
}